* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  & .timezone {
    border: solid 1px red;
  }
}

// ="container">
//       <h2 id="timezone" class="timezone"></h2>
//       <h1 id="time" class="time"></h1>
//       <h2 id="date" class="date"
